.form {
    position: relative;
    margin: 15vh;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 10vw;
    border: 2px gray solid;
    border-radius: 10px;

    button {
        width: 60%;
        background-color: #0095ff;
        border: 2px #0095ff solid;
        color: #fff;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-top: 10px;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
        font-size: 14pt;
        font-weight: 400;
        line-height: 1.15385;
        outline: none;
        padding: 4px 0.8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
    }
    button:hover,
    button:focus {
        background-color: #07c;
    }
    button:focus {
        box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
    }

    button:active {
        background-color: #0064bd;
        box-shadow: none;
    }

    input {
        margin: 10px;
        width: 80%;
        padding: 0.2em 0.5em;
        font-size: 14pt;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .form {
        width: 85vw;
        margin-top: 5vh;
        border: 0px;
    }
    input {
        margin-bottom: 10vh;
    }
}
