#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preferences-form {
    margin: 20vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 50px;
    border: 2px gray solid;
    border-radius: 10px;

    button {
        width: 60%;
        background-color: #0095ff;
        border: 2px #0095ff solid;
        color: #fff;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-top: 10px;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
        font-size: 14pt;
        font-weight: 400;
        line-height: 1.15385;
        outline: none;
        padding: 4px 0.8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
        margin-bottom: 10px;
    }
    button:hover,
    button:focus {
        background-color: #07c;
    }
    button:focus {
        box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
    }

    button:active {
        background-color: #0064bd;
        box-shadow: none;
    }

    input {
        margin: 10px;
        padding-left: 5px;
        font-size: 14pt;
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    .bottom {
        margin-bottom: 20px;
    }
}
